body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;

}
.one{
    display: none;
    border: 2px solid rgba(0, 0, 0, 1);
    width: 0;
    height: 0;


}

.menu{
    display: flex;
   flex-direction: column;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 1);
    height: 100px;
    width: 700px;
    margin-bottom: 30px;
}

.check_wrapper{
    display: flex;
}

.check{
    margin: 10px 10px 30px 10px;
}

.input_wrapper{
    display: flex;
}

.input{
    text-align: center;
    display: none;
    max-width: 200px;
    font-size: 25px;
    }
.input:not(:last-child){
    margin-right: 15px;
}
.button_wrapper{
    display: flex;
}
.button{
    text-align: center;
    height: 50px;
    width: 200px;
    font-size: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
}